language: android

env:
  global:
    - ANDROID_API_LEVEL=28
    - ANDROID_BUILD_TOOLS_VERSION=28.0.3
android:
  components:
    - build-tools-$ANDROID_BUILD_TOOLS_VERSION
    - android-$ANDROID_API_LEVEL
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
  - "$HOME/.android/build-cache"

before_install:
- openssl aes-256-cbc -K $encrypted_3e81a6209f09_key -iv $encrypted_3e81a6209f09_iv
  -in app/secret.tar.enc -out app/secret.tar -d
- tar xvf app/secret.tar

script:
  # unit tests
  - ./gradlew test --stacktrace
  # build debug apk
  - ./gradlew assembleDebug --stacktrace
